{% extends 'dance/base.html' %}

{% block content %}
<div class="container">
<div class="col">
    <div class="row">
        <div class="col-lg-12 detail-separator">
          <form class="col-md-6 col-md-offset-3 text-center" action="{% url 'dance:artist_creation' %}" method="post" accept-charset="utf-8">
               {% csrf_token %}
                <div class="form-group {% if form.name.errors %}has-warning has-feedback{% endif %}">
                  <label for="{{ form.name.id_for_label }}" class="control-label">Artist name</label>
                  {{ form.name }}
                </div>
                <button type="submit" class="btn btn-success">Add</button>
            <span class="help-block" id="helpBlock">Add a new step.</span>
          </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
